In [1]:
import mysql.connector
from mysql.connector import Error
import csv

host = 'relational.fel.cvut.cz'
db = 'imdb_small'
user = 'guest'
password = 'ctu-relational'

schema = db
output_folder = 'db.localhost/{}/'.format(schema)

In [2]:
try:
    connection = mysql.connector.connect(host=host, database=db, user=user, password=password)
    
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)

except Error as e:
    print("Error while connecting to MySQL", e)

Connected to MySQL Server version  5.5.5-10.6.12-MariaDB-1:10.6.12+maria~ubu2004-log
You're connected to database:  ('imdb_small',)

In [3]:
q1 = ("SHOW TABLES FROM " + schema)
c1 = connection.cursor(dictionary=True, buffered=True)
c1.execute(q1)

table_list = c1.fetchall()
table_list

[{'Tables_in_imdb_small': 'actors'},
 {'Tables_in_imdb_small': 'directors'},
 {'Tables_in_imdb_small': 'directors_genres'},
 {'Tables_in_imdb_small': 'movies'},
 {'Tables_in_imdb_small': 'movies_directors'},
 {'Tables_in_imdb_small': 'movies_genres'},
 {'Tables_in_imdb_small': 'roles'}]

In [4]:
def create_csv(c2, table):
    q2 = "SELECT * FROM %s;" % table
    c2.execute(q2)
    result = c2.fetchall()
    print(f'output_folder:{output_folder}, table:{table}')
    writer = csv.writer(open(output_folder + table + '.csv','w',newline='',encoding='utf-8'), delimiter=';')
    writer.writerow([i[0] for i in c2.description])
    writer.writerows(result)

In [5]:
c2 = connection.cursor()
for table in table_list:
    print(table)
    table = (list(table.values()))[0]
    print(table)
    create_csv(c2, table)

{'Tables_in_imdb_small': 'actors'}
actors
output_folder:db.localhost/imdb_small/, table:actors
{'Tables_in_imdb_small': 'directors'}
directors
output_folder:db.localhost/imdb_small/, table:directors
{'Tables_in_imdb_small': 'directors_genres'}
directors_genres
output_folder:db.localhost/imdb_small/, table:directors_genres
{'Tables_in_imdb_small': 'movies'}
movies
output_folder:db.localhost/imdb_small/, table:movies
{'Tables_in_imdb_small': 'movies_directors'}
movies_directors
output_folder:db.localhost/imdb_small/, table:movies_directors
{'Tables_in_imdb_small': 'movies_genres'}
movies_genres
output_folder:db.localhost/imdb_small/, table:movies_genres
{'Tables_in_imdb_small': 'roles'}
roles
output_folder:db.localhost/imdb_small/, table:roles