In [1]:
import mysql.connector
from mysql.connector import Error
import csv

host = 'relational.fel.cvut.cz'
db = 'pubs'
user = 'guest'
password = 'ctu-relational'

schema = db
output_folder = 'db.localhost/{}/'.format(schema)

In [2]:
try:
    connection = mysql.connector.connect(host=host, database=db, user=user, password=password)
    
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)

except Error as e:
    print("Error while connecting to MySQL", e)

Connected to MySQL Server version  5.5.5-10.6.12-MariaDB-1:10.6.12+maria~ubu2004-log
You're connected to database:  ('pubs',)

In [3]:
q1 = ("SHOW TABLES FROM " + schema)
c1 = connection.cursor(dictionary=True, buffered=True)
c1.execute(q1)

table_list = c1.fetchall()
table_list

[{'Tables_in_pubs': 'authors'},
 {'Tables_in_pubs': 'discounts'},
 {'Tables_in_pubs': 'employee'},
 {'Tables_in_pubs': 'jobs'},
 {'Tables_in_pubs': 'pub_info'},
 {'Tables_in_pubs': 'publishers'},
 {'Tables_in_pubs': 'roysched'},
 {'Tables_in_pubs': 'sales'},
 {'Tables_in_pubs': 'stores'},
 {'Tables_in_pubs': 'titleauthor'},
 {'Tables_in_pubs': 'titles'}]

In [4]:
def create_csv(c2, table):
    q2 = "SELECT * FROM %s;" % table
    c2.execute(q2)
    result = c2.fetchall()
    print(f'output_folder:{output_folder}, table:{table}')
    writer = csv.writer(open(output_folder + table + '.csv','w',newline='',encoding='utf-8'), delimiter=';')
    writer.writerow([i[0] for i in c2.description])
    writer.writerows(result)

In [5]:
c2 = connection.cursor()
for table in table_list:
    print(table)
    table = (list(table.values()))[0]
    print(table)
    create_csv(c2, table)

{'Tables_in_pubs': 'authors'}
authors
output_folder:db.localhost/pubs/, table:authors
{'Tables_in_pubs': 'discounts'}
discounts
output_folder:db.localhost/pubs/, table:discounts
{'Tables_in_pubs': 'employee'}
employee
output_folder:db.localhost/pubs/, table:employee
{'Tables_in_pubs': 'jobs'}
jobs
output_folder:db.localhost/pubs/, table:jobs
{'Tables_in_pubs': 'pub_info'}
pub_info
output_folder:db.localhost/pubs/, table:pub_info
{'Tables_in_pubs': 'publishers'}
publishers
output_folder:db.localhost/pubs/, table:publishers
{'Tables_in_pubs': 'roysched'}
roysched
output_folder:db.localhost/pubs/, table:roysched
{'Tables_in_pubs': 'sales'}
sales
output_folder:db.localhost/pubs/, table:sales
{'Tables_in_pubs': 'stores'}
stores
output_folder:db.localhost/pubs/, table:stores
{'Tables_in_pubs': 'titleauthor'}
titleauthor
output_folder:db.localhost/pubs/, table:titleauthor
{'Tables_in_pubs': 'titles'}
titles
output_folder:db.localhost/pubs/, table:titles